.icon-closehighquery{background-image: url(/images/icon/044.gif) !important;}
.icon-create{background-image: url(/images/icon/013.gif) !important;}
.icon-delete{background-image: url(/images/icon/014.gif) !important;}
.icon-edit{background-image: url(/images/icon/015.gif) !important;}
.icon-export{background-image: url(/images/icon/082.gif) !important;}
.icon-home{background-image: url(/images/icon/019.gif) !important;}
.icon-import{background-image: url(/images/icon/081.gif) !important;}
.icon-logout{background-image: url(/images/icon/027.gif) !important;}
.icon-openhighquery{background-image: url(/images/icon/049.gif) !important;}
.icon-org1{background-image: url(/images/icon/069.gif) !important;}
.icon-org2{background-image: url(/images/icon/070.gif) !important;}
.icon-org3{background-image: url(/images/icon/071.gif) !important;}
.icon-query{background-image: url(/images/icon/016.gif) !important;}
.icon-refresh{background-image: url(/images/icon/312.gif) !important;}
.icon-reset{background-image: url(/images/icon/021.gif) !important;}
.icon-view{background-image: url(/images/icon/033.gif) !important;}
