@CHARSET "UTF-8";

#main-viewport {
	clear: both;
	background: #dfe8f6;
}

#main-viewport-logo {	
	float: left;	
	margin-left:30px;
	padding:5px;
}

#main-viewport-title {
	font: bold 24px sans-serif;
	color: #15428b;
	float: left;
	padding: 15px 0 0 5px;
	vertical-align: middle;
}

#main-viewport-version {
	font: 12px sans-serif;
	color: #000000;
	float: right;
	line-height: 18px;
	width: 200px;
	padding: 3px 10px 5px 0px;
}

.notice {
	padding: 5px;
	font: 12px sans-serif;
}

.notice li {
	line-height: 18px;
}

<!--
#action-panel .x-panel {
	margin-bottom: 5px;
	margin-right: 0;
}

.x-panel-trans {
	background: transparent;
}

.x-layout-split-west {
	cursor: move;
}

.x-panel-header-text {
	color: #3764A0;
}

-->
<!--
multiselect begin-->.ux-mselect {
	overflow: auto;
	background: white;
	position: relative; /* for calculating scroll offsets */
	zoom: 1;
	overflow: auto;
}

.ux-mselect-item {
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	padding: 2px;
	border: 1px solid #fff;
	white-space: nowrap;
	cursor: pointer;
}

.ux-mselect-selected {
	border: 1px dotted #a3bae9 !important;
	background: #DFE8F6;
	cursor: pointer;
}

.x-view-drag-insert-above {
	border-top: 1px dotted #3366cc;
}

.x-view-drag-insert-below {
	border-bottom: 1px dotted #3366cc;
}

<!--
multiselect end-->.icon-active {
	background-image: url(../images/icon-active.gif) !important;
}

.icon-complete {
	background-image: url(../images/icon-complete.gif) !important;
}

.icon-delete {
	background-image: url(../images/delete.gif) !important;
}

.icon-edit {
	background-image: url(../images/edit.gif) !important;
}

.icon-show-active {
	background-image: url(../images/icon-show-active.gif) !important;
}

.icon-show-complete {
	background-image: url(../images/icon-show-complete.gif) !important;
}

.icon-show-all {
	background-image: url(../images/icon-show-all.gif) !important;
}

.icon-by-date {
	background-image: url(../images/icon-by-date.gif) !important;
}

.icon-by-category {
	background-image: url(../images/icon-by-category.gif) !important;
}

.icon-no-group {
	background-image: url(../images/icon-no-group.gif) !important;
}

<!--
tabpanel begin-->.x-tab-scroller-right-over {
	background-position: -18px 0;
}

.x-tab-tabmenu-right {
	background: transparent url(../images/tab-scroller-menu.gif) no-repeat 0
		0;
	border-bottom: 1px solid #8db2e3;
	width: 18px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	cursor: pointer;
}

.x-tab-tabmenu-over {
	background-position: -18px 0;
}

.x-tab-tabmenu-disabled {
	background-position: 0 0;
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity =       50);
	cursor: default;
}

<!--
tabpanel end--><!--loginpanel begin-->.loginpanel-user {
	background: #FFFFFF url(../images/user.gif) no-repeat 1px 2px !important
		;
	padding-left: 20px;
	font-weight: bold;
	color: #000033;
}

.loginpanel-key {
	background: #FFFFFF url(../images/key.gif) no-repeat 1px 2px !important;
	padding-left: 20px;
	font-weight: bold;
	color: #000033
}

.loginpanel-code {
	background: #FFFFFF url(../images/code.gif) no-repeat 1px 2px !important
		;
	padding-left: 20px;
	font-weight: bold;
	color: #000033
}

<!--
row actions-->.ux-row-action-cell .x-grid3-cell-inner {
	padding: 1px 0 0 0;
}

.ux-row-action-item {
	float: left;
	min-width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	margin: 0 3px 0 2px;
	/*	margin: 1px 5px 0 2px; */
	cursor: pointer;
	overflow: hidden;
}

.ext-ie .ux-row-action-item {
	width: 16px;
}

.ext-ie .ux-row-action-text {
	width: auto;
}

.ux-row-action-item span {
	vertical-align: middle;
	padding: 0 0 0 20px;
	line-height: 18px;
}

.ext-ie .ux-row-action-item span {
	width: auto;
}

.x-grid-group-hd div {
	position: relative;
	height: 16px;
}

.ux-grow-action-item {
	min-width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: 0 50% ! important;
	margin: 0 0 0 4px;
	padding: 0 ! important;
	cursor: pointer;
	float: left;
}

.ext-ie .ux-grow-action-item {
	width: 16px;
}

.ux-action-right {
	float: right;
	margin: 0 3px 0 2px;
	padding: 0 ! important;
}

.ux-grow-action-text {
	padding: 0 ! important;
	margin: 0 ! important;
	background: transparent none ! important;
	float: left;
}

/* [REQUIRED] (by Ext.ux.grid.GridSummary plugin) */
.x-grid3-gridsummary-row-inner {
	overflow: hidden;
	width: 100%;
}

.x-grid3-gridsummary-row-offset {
	width: 10000px;
}

.x-grid-hide-gridsummary .x-grid3-gridsummary-row-inner {
	display: none;
}

/**
tree checknode
**/
.complete .x-tree-node-anchor span {
	text-decoration: line-through;
	color: #777;
}

/**fileupload
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
**/ /**icon begin**/
.icon-add {
	background-image: url(../images/013.gif) !important;
}

.icon-edit {
	background-image: url(../images/015.gif) !important;
}

.icon-reset {
	background-image: url(../images/050.gif) !important;
}

.icon-delete {
	background-image: url(../images/014.gif) !important;
}

.icon_view {
	background-image: url(../images/016.gif) !important;
}

.icon-refresh {
	background-image: url(../images/refresh.gif) !important;
}

.icon-save {
	background-image: url(../images/save.gif) !important;
}

.icon-validate {
	background-image: url(../images/021.gif) !important;
}

.icon-generate {
	background-image: url(../images/022.gif) !important;
}

.icon-copy {
	background-image: url(../images/031.gif) !important;
}

.icon-paste {
	background-image: url(../images/027.gif) !important;
}

.icon-search {
	background-image: url(../images/016.gif) !important;
}

.icon-magnifier {
	background-image: url(../images/016.gif) !important;
}

.icon-setting {
	background-image: url(../images/020.gif) !important;
}

.icon-settingCate {
	background-image: url(../images/007.gif) !important;
}

.icon-logout {
	background-image: url(../images/018.gif) !important;
}

.icon-sm {
	background-image: url(../images/083.gif) !important;
}

.icon-nsm {
	background-image: url(../images/084.gif) !important;
}

.icon-totopas {
	background-image: url(../images/060.gif) !important;
}

.icon-untopas {
	background-image: url(../images/043.gif) !important;
}

.icon-dictionary {
	background-image: url(../images/113.gif) !important;
}

.icon-publish {
	background-image: url(../images/237.gif) !important;
}

.icon-unpublish {
	background-image: url(../images/238.gif) !important;
}

.icon-info {
	background-image: url(../images/029.gif) !important;
}

.icon-value {
	background-image: url(../images/069.gif) !important;
}

.icon-role {
	background-image: url(../images/303.png) !important;
}

.icon-lock {
	background-image: url(../images/022.gif) !important;
}

.icon-unlock {
	background-image: url(../images/020.gif) !important;
}

.icon-changepass {
	background-image: url(../images/306.png) !important;
}

.icon-resetpass {
	background-image: url(../images/062.gif) !important;
}

.icon-release {
	background-image: url(../images/069.gif) !important;
}

.icon-home {
	background-image: url(../images/019.gif) !important;
}

.icon-customer-dist {
	background-image: url(../images/307.png) !important;
}

.icon-customer-revise {
	background-image: url(../images/153.gif) !important;
}

.icon-customer-caculate {
	background-image: url(../images/156.gif) !important;
}

.icon-customer {
	background-image: url(../images/308.png) !important;
}

.icon-portfolio {
	background-image: url(../images/293.gif) !important;
}

.icon-reasonexp {
	background-image: url(../images/309.png) !important;
}

.icon-close {
	background-image: url(../images/178.gif) !important;
}

.icon-affix {
	background-image: url(../images/063.gif) !important;
}

.icon-affix-man {
	background-image: url(../images/306.png) !important;
}

.icon-view {
	background-image: url(../images/037.gif) !important;
}

.icon-report {
	background-image: url(../images/035.gif) !important;
}

.icon-import {
	background-image: url(../images/081.gif) !important;
}

.icon-export {
	background-image: url(../images/082.gif) !important;
}

.icon-profit {
	background-image: url(../images/203.gif) !important;
}

.icon-editReason {
	background-image: url(../images/010.gif) !important;
}

.icon-message {
	background-image: url(../images/234.gif) !important;
}

.icon-chart-column {
	background-image: url(../images/197.gif) !important;
}

.icon-ylb{
	background-image: url(../images/ylb_min.gif) !important;
}
.icon-logo{
	background-image: url(../images/logo.png) !important;
}
.icon-logo-min{
	background-image: url(../images/logo-min.png) !important;
}
.info_item_title {
	font-weight: bold;
	font-size: 20px;
	font-family: 楷体_GB2312;
	color: #3366FF
}

/**grid-row-expander**/
.grid-row-expander table {
	border-color: #600;
	border-style: solid;
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
}

.grid-row-expander td {
	border-color: #600;
	border-style: solid;
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	background-color: #FFC;
	line-height: 16px;
}

.info_table {
	line-height: 20px;
	font-size: 10pt;
	border-color: #600;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
	border-collapse: collapse;
}

.info_table_lable {
	font-weight: bold;
	text-align: right;
	border-color: #600;
	border-style: solid;
	border-width: 1px;
}

.info_table_content {
	text-align: left;
	padding: 5px;
	border-color: #600;
	border-style: solid;
	border-width: 1px;
	valign: top;
	word-wrap: break-word;
	word-break: normal;
}